<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
           
    <bean id="retailerConfigs" class="org.springframework.beans.factory.config.PropertiesFactoryBean">  
        <property name="locations">  
            <list>  
                <value>system.properties</value>
                <value>carrefour.properties</value>
                <value>tesco.properties</value>
                <value>yonghui.properties</value>
                <value>rainbow.properties</value>
            </list>  
        </property>  
    </bean> 
    <bean id="utils" class="com.rsi.mengniu.util.Utils">
        <property name="properties" ref="retailerConfigs"></property>
    </bean>
    
    
	<bean id ="applicationContextHelper" class="com.rsi.mengniu.util.AppContextHelper"></bean>
	
	<bean id ="carrefour" class="com.rsi.mengniu.retailer.carrefour.service.CarrefourDataPullService">
	    <property name="ocr" ref="ocr"/>
	</bean>
	<bean id ="tesco" class="com.rsi.mengniu.retailer.tesco.service.TescoDataPullService"></bean>
	
	<bean id ="yonghui" class="com.rsi.mengniu.retailer.yonghui.service.YonghuiDataPullService">
	    <property name="ocr" ref="ocr"/>
	</bean>
	<bean id ="metro" class="com.rsi.mengniu.retailer.metro.service.MetroDataPullService"></bean>
	
	<bean id ="rainbow" class="com.rsi.mengniu.retailer.rainbow.service.RainbowDataPullService"></bean>
	
	<bean id ="ocr" class="com.rsi.mengniu.util.OCR">
	</bean>
	
	<bean id ="carrefour.data.conversion" class="com.rsi.mengniu.retailer.carrefour.service.CarrefourDataConversionService">
	</bean>
	
	<bean id ="tesco.data.conversion" class="com.rsi.mengniu.retailer.tesco.service.TescoDataConversionService">
	</bean>
	
	<bean id ="yonghui.data.conversion" class="com.rsi.mengniu.retailer.yonghui.service.YonghuiDataConversionService">
	</bean>
	
	
</beans>